.about{
  width: 28em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.about__title{
  text-align: center;
  padding: 1em;
}
.about__text{
  text-align: left;
  padding: 0.5em;
}
.about__span{
  font-weight: 900;
}
.about__img{
  margin: 1em auto;
}
